@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Projeto Web - LH Pets</h1>
    <p>Versão 1.0</a>.</p>
@* 
    Exemplo de Loop de repetição dentro do HTML usando C#
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
        </tr>
        @for (int i = 1; i <= 5; i++)
        {
            <tr>
                <td>Nome_@i</td>
                <td>Email_@i</td>
            </tr>
        }
    </table> *@
</div>
